.btn {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  margin: 3px;

  &.load {
    background-color: #ccc;
    border: 1px solid #aaa;
    color: #333;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #eee;
    }
  }

  &.blue {
    background-color: #2e86c1;
    border: 1px solid #1f618d;
    color: #fff;

    &:hover {
      background-color: #3e9edd;
    }

    &:active {
      background-color: #57bafc;
    }
  }
}
